@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    background-size: cover;
    color: white;
    font-family: Patrick Hand;
}

.heading_label {
    background-color: rgb(212, 160, 255);
    margin: 0px;
    width: 100%;
    font-size: 30px;
    padding: 5px;
    text-align: left;
}

.ins_btn {
    float: right;
    background-color: rgb(212, 160, 255);
    border: 2px white solid;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
}

#modal {
    height: 500px;
}

.footer_div {
    bottom: 0px;
    position: fixed;
    font-size: 20px;
    width: 100%;
    text-align: center;
    background-color: rgb(212, 160, 255);
}

.playgame, .restart, #status{
    background-color: rgb(81, 6, 143);
    padding: 5px;
    border: 0px;
    font-size: 20px;
    height: 50px;
    width: fit-content;
    margin: 0px;
    font-weight: 400;
}

 #canvas {
    width: 740px;
    height: 625px;
    /* background-color: black; */
    border: 10px white double;
    border-radius: 20px;
    margin-bottom: 200px;
}
